/*Таблица стилей для калькулятора*/
table#hflow_calculetor_input_data {
  border-top: 1px solid #CECECE;
  border-right: 1px solid #CECECE;
}

table#hflow_calculetor_calculation_container tfoot tr:nth-of-type(2),
table#hflow_calculetor_input_data td{
  border-left: 1px solid #CECECE;
  border-bottom: 1px solid #CECECE;
}

table#hflow_calculetor_input_data tr td:nth-of-type(1) {
	width: calc(100% - 250px);
}
table#hflow_calculetor_input_data tr td:nth-of-type(2) {
	max-width:250px;
    padding: 0px 8px 0px 0px !important;
}
table#hflow_calculetor_input_data thead {
  text-align: center;
}
table#hflow_calculetor_input_data input {
    min-width: 60px;
    width: 100%;
    text-align: right;
  background: rgb(235,241,222);
}
table#hflow_calculetor_input_data thead tr:nth-of-type(1) td{
  font-size: 30px;
  color: rgb(0,0,128);
  font-weight: 300;
}
table#hflow_calculetor_input_data thead tr:nth-of-type(n+2) td{
  font-size: 14px;
  color: rgb(79,98,40);  
  text-align: left;
}
table#hflow_calculetor_input_data tfoot tr td:nth-of-type(1),
table#hflow_calculetor_input_data tbody tr td:nth-of-type(1){
   text-align: left;
    padding-top: 0px !important;
	padding-bottom: 0px !important;
}

table#hflow_calculetor_calculation_data input {
	border: 0px;
	background: transparent;
	text-align: right;
	width: calc( 100% - 30px);
}
#hflow_calculetor_calculation_data td {
    padding: 10px 0px;
    line-height: 1.2;
}
table#hflow_calculetor_calculation_data tbody tr#amount_of_expenses_per_year td {
  font-size: 16px;
}
table#hflow_calculetor_calculation_data tbody tr#amount_of_expenses_per_year td:nth-of-type(1),
table#hflow_calculetor_calculation_data tbody tr#amount_of_expenses_per_year td:nth-of-type(2){
  color:rgb(128,0,0);  
}
table#hflow_calculetor_calculation_data tbody tr#amount_of_expenses_per_year td:nth-of-type(3){
  color:rgb(0,128,128);  
}

table#hflow_calculetor_calculation_data tfoot tr:nth-of-type(1) td:nth-of-type(2),
table#hflow_calculetor_calculation_data tbody tr.amount_of_expenses_per_year td:nth-of-type(2){
   background: rgb(230,184,183);
  color: #000;
}
table#hflow_calculetor_calculation_data tfoot tr:nth-of-type(1) td:nth-of-type(3),
table#hflow_calculetor_calculation_data tbody tr.amount_of_expenses_per_year td:nth-of-type(3){
   background: rgb(183,222,232);
   color: #000;
}
table#hflow_calculetor_calculation_data tfoot tr:nth-of-type(3) td:nth-of-type(2){
  border: 0px;
}
table#hflow_calculetor_calculation_data tfoot tr:nth-of-type(2) td {
  background: rgb(221,217,196);
  color: #000;
}


#cost_of_woter ~ span:after,
#cost_of_chlorine ~ span:after,
#cost_of_acid ~ span:after,
#cost_of_coagulant ~ span:after,
#cost_of_the_sewer_cleaning_system ~ span:after,
#Electricity_for_ozonation_or_UV ~ span:after,
#do_heating_water_for_backwashing ~ span:after,
#after_heating_water_for_backwashing ~ span:after,
#do_normalized_water ~ span:after,
#afre_normalized_water ~ span:after,
#do_cost_of_the_sewer_cleaning_system ~ span:after,
#after_cost_of_the_sewer_cleaning_system ~ span:after,
#do_chlorine ~ span:after,
#after_chlorine ~ span:after,
#do_acid ~ span:after,
#after_acid ~ span:after,
#do_coagulant ~ span:after,
#after_coagulant ~ span:after,
#do_dosing_of_ozone_or_UV ~ span:after,
#after_dosing_of_ozone_or_UV ~ span:after,
#do_total_cost_year ~ span:after,
#after_total_cost_year ~ span:after,
#total_savings ~ span:after {
	content: '\20B4';
	font-weight: bold;
}
#cost_of_woter,
#cost_of_chlorine,
#cost_of_acid,
#cost_of_coagulant,
#cost_of_the_sewer_cleaning_system ,
#Electricity_for_ozonation_or_UV,
#do_heating_water_for_backwashing,
#after_heating_water_for_backwashing,
#do_normalized_water,
#afre_normalized_water,
#do_cost_of_the_sewer_cleaning_system,
#after_cost_of_the_sewer_cleaning_system,
#do_chlorine,
#after_chlorine,
#do_acid,
#after_acid,
#do_coagulant,
#after_coagulant,
#do_dosing_of_ozone_or_UV ,
#after_dosing_of_ozone_or_UV,
#do_total_cost_year,
#after_total_cost_year,
#total_savings {
	width: calc(100% -5px );
}


#dop{
	max-width: 400px !important;  
}
#dop tr td:nth-of-type(1){	
  text-align: left;
}
#dop tr td:nth-of-type(2) input {
  width: 100% !important;
  text-align: center;
}
#dop tr td:nth-of-type(2){
  max-width: 30px;
}
#calc-footer {
	max-width: 700px;
  margin: 10px auto;
	padding: 20px;
	color: #fff;
  font-size: 20px;
  font-weight: 600;
	background: rgb(85,142,213);
	border: 4px outset rgba(85,142,213,0.6);
  text-align: center;
  border-radius: 12px;
}
h3#graphik-title {
  color: rgb(0,0,128) !important;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-transform:  inherit !important;
}
h3#graphik-title i {
  font-weight: 300;
}
#cost_of_woter,
#cost_of_chlorine,
#cost_of_acid,
#cost_of_coagulant,
#cost_of_the_sewer_cleaning_system ,
#Electricity_for_ozonation_or_UV {
	width: calc(100% - 22px) !important;
}
#cost_of_woter ~ span,
#cost_of_chlorine ~ span,
#cost_of_acid ~ span,
#cost_of_coagulant ~ span,
#cost_of_the_sewer_cleaning_system ~ span,
#Electricity_for_ozonation_or_UV ~ span {
  margin: 0 0 0 6px;
  display: inline-block;
  width: 8px !important;;
  vertical-align: middle;
  text-align: right;  
}

#hflow_calculetor_calculation_start {
	max-width: 700px;
	margin: 10px auto;
	padding: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	background: #4180cb;
	border: 4px outset #4180cb;
	text-align: center;
	border-radius: 4px;
	box-shadow: 2px 2px 10px 1px rgba(0,0,0,.5);
}
#hflow_calculetor_calculation_start,
#hflow_calculetor_send {
	float: right;
}
#hflow_calculetor_calculation_container:after,
#send_data:after {
	content: '';
	display: table;
	clear:both;
}
#hflow_calculetor_send  {
	max-width: 700px;
	margin: 10px auto;
	padding: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	background: #05bc57;
	border: 4px outset #05bc57;
	text-align: center;
	border-radius: 4px;
	box-shadow: 2px 2px 20px 1px rgba(0,0,0,.5);
}
#hflow_submit  {
	max-width: 700px;
	margin: 20px auto;
	padding: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	background: #f78a2a;
	border: 4px outset #f78a2a;
	text-align: center;
	border-radius: 4px;
	box-shadow: 2px 2px 20px 1px rgba(0,0,0,.5);
	display: block;
}
#contact-date {
	width: 100%;
	text-align: center;
}
#parametry {
	width: 100%;
	text-align:center;	
}
#parametry label{
	width: 30%;
	margin: 5px 0.5%;
	text-align: left;
	min-width: 220px;
	display: inline-block;
}
#parametry label span{
	display:inline-block;
	color: #ffffff !important;
	background: #4180cb;
	border: 4px outset #4180cb;
	margin: 0px;
	padding: 0px 6px;
}
#parametry label  input{
	width: 100px;
	padding: 7px 6px !important;
}
#send_data h3 {
	text-align: center;
}
#contact-date span {
	width: 30%;
	min-width: 250px;
	display: inline-block;
}
#contact-date input{
	width: calc( 100% - 20px);
	display: inline-block;
	text-align: left;
	/* color: #ffffff !important; */
	/* background: #4180cb; */
	border: 4px inset #4180cb;	
	margin: 5px 0.5%;
	padding: 5px;	
}
.dms-hidden {
	display: none;
	display: none;
}
#form-report p {
	margin: 2px;
	width: 100%;
	padding: 5px 10px;	
	font-weight: bold;
}
#form-report p.error {
	border: 2px solid red;
	color: red;
}
#form-report p.updated {
	border: 2px solid green;
	color: green;
}